.input{
    width: 50%;
    height: 2em;
    border-radius:6px;
    margin-top: 1em;
}
.submit{
    width: 10%;
    height: 2.5em;
    border-radius: 6px;
}
.textarea{
    width: 50%;
    border-radius:6px;
    margin-top: 1em;
}
.Navbar{
 background-color: black;
 height: 4em;   
 display: flex;
 column-gap: 3%;
}
.link{
    font-size: larger;
    font-weight: 600;
    padding: 1% 1%;
    color: antiquewhite;
    text-decoration: none;
}
.post{
    font-size: larger;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    text-transform: uppercase;
}
.mainContainer{
    width: 75%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    
    border-radius: 8px;
    height: 80vh;
}